src/main/resources/schemas/form_output-1.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="form">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="TMPFORMINPUT">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="FormInput" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:int" name="name" use="optional"/>
                      <xs:attribute type="xs:string" name="title" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:short" name="formTypeId"/>
      <xs:attribute type="xs:string" name="formName"/>
      <xs:attribute type="xs:string" name="formId"/>
      <xs:attribute type="xs:string" name="action"/>
      <xs:attribute type="xs:int" name="resumeKey"/>
      <xs:attribute type="xs:string" name="FirstName"/>
      <xs:attribute type="xs:string" name="LastName"/>
      <xs:attribute type="xs:string" name="email"/>
      <xs:attribute type="xs:string" name="homePhone"/>
      <xs:attribute type="xs:string" name="language"/>
      <xs:attribute type="xs:string" name="autoreq"/>
      <xs:attribute type="xs:string" name="optionalreq"/>
    </xs:complexType>
  </xs:element>
</xs:schema>